/*/.classpath
/*/.project
/*/.settings
/*/bin
/*/gen
/*/target
/target
/*/build
/out
/.idea
/.project
*.iml
node_modules
import_test
teedy-importer-linux
teedy-importer-macos
teedy-importer-win.exe
docs/*
!docs/.gitkeep
docs-core/home/
docs-web-common/home/
docs-web/home/

#macos
.DS_Store
